HANDFUL/runs/
HANDFUL/intermediate_states/
HANDFUL/intermediate_states_sr/
HANDFUL/intermediate_states_viz/
HANDFUL/intermediate_states_tcp/
HANDFUL/viz/*.pdf
HANDFUL/viz/*.png
HANDFUL/viz/randomization_viz/
HANDFUL/multi_task_trajectories/
HANDFUL/intermediate_value_function/
HANDFUL/relabeled_states/
HANDFUL/sim2real_trajectories/
HANDFUL/videos/
HANDFUL/curriculum_runs/
/*.pt
/*.pyc
__pycache__/
Agents.md