DexM/runs/
DexM/intermediate_states/
DexM/intermediate_states_sr/
DexM/intermediate_states_viz/
DexM/intermediate_states_tcp/
DexM/viz/*.pdf
DexM/viz/*.png
DexM/viz/randomization_viz/
DexM/relabeled_states/DexM/intermediate_states/*.pt
DexM/multi_task_trajectories/
DexM/intermediate_value_function/
DexM/relabeled_states/
DexM/sim2real_trajectories/
DexM/videos/
DexM/curriculum_runs/
/*.pt
/*.pyc
__pycache__/
Agents.md